NODE_ENV = development
PORT = 5000
DATABASE = mongo_db_link
DATABASE_PASSWORD = DB_PASS

JWT_SECRET = YourJWTSecret
JWT_EXPIRES_IN = 7d
JWT_COOKIE_EXPIRES_IN = 7

STRIPE_PUBLISHABLE_KEY = pk_key
STRIPE_SECRET_KEY = sk_key
EMAIL_USERNAME= EmailUser
EMAIL_PASSWORD= EmailPass
EMAIL_HOST = email server
EMAIL_PORT = Port

SENDGRID_USERNAME = apikey
SENDGRID_PASSWORD = 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
SENDGRID_HOST = smtp.sendgrid.net
SENDGRID_PORT = 587

