NODE_ENV = development
PORT = 3000
DATABASE = mongo_db_link
DATABASE_PASSWORD = DB_PASS

JWT_SECRET = YourJWTSecret
JWT_EXPIRES_IN = 7d
JWT_COOKIE_EXPIRES_IN = 7

STRIPE_PUBLIC_KEY = key
STRIPE_SECRET_KEY = key
EMAIL_USERNAME= EmailUser
EMAIL_PASSWORD= EmailPass
EMAIL_HOST = email server
EMAIL_PORT = Port

