<input id="cardholder-name" type="text">
<!-- placeholder for Elements -->
<form id="setup-form" data-secret="{{ client_secret }}">
  <div id="card-element"></div>
  <button id="card-button">
    Save Card
  </button>
</form>