<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stripe Billing Subscriptions | Card and Direct Debit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A demo of Stripe Billing" />

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/global.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/card.js" defer></script>
  </head>

  <body class="antialiased p-6">
    <nav class="flex items-center justify-between flex-wrap">
      <svg width="79px" height="24px" viewBox="0 0 79 24">
        <image
          xlink:href="https://storage.googleapis.com/stripe-sample-images/logo-pasha.svg"
        />
      </svg>
      <div>
        <button
          class="bg-white hover:bg-white hover:shadow-outline hover:text-pasha hover:border hover:border-black focus:shadow-outline text-pasha focus:bg-white focus:text-pasha font-light py-2 px-4 rounded"
          type="button"
        >
          Sign in
        </button>
      </div>
    </nav>

    <form id="signup-form">
      <div class="w-full mb-2">
        <!-- <label
          class="block text-gray-500 font-bold mb-2"
          for="inline-full-name"
        >
          Email address
        </label> -->
        <input
          class="appearance-none border-2 border-gray-200 rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-pasha"
          id="email"
          type="text"
          placeholder="Email address"
          required
        />
      </div>
      <button
            id="email-submit"
            class="w-full bg-pasha hover:bg-red-200 hover:shadow-outline rounded-md hover:text-pasha hover:border hover:border-black focus:shadow-outline text-white focus:bg-white focus:text-pasha font-light py-2 px-4 rounded"
            type="submit"
          >
            <div id="loading" class="hidden">Signing up...</div>
            <span id="button-text">Sign up</span>
          </button>
        </form>
      </div>
    </div>
    



      </html>