extends baseEmail

block content
  p Hi #{firstName},
  p You have updated your email address to #{updatedAdvisor.email}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Log In
  p If you didn't change your email, please secure your account!
